body{
    font-family: Arial,sans-serif;
    color: #222;
}

.web-outer{
    width: 100%;
    height: 100%;
    min-width: 1250px;
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#head{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#head>div{
    position: absolute;
    height: 60px;
}

#top-left{
    padding-left: 24px;
    top: 0;
    left: 0;
}

#top-left a{
    margin: 19px 31px 0 0;
    color: #222;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
    list-style-position: outside;
    font-stretch: 100%;
    cursor: pointer;
}

#top-left a:hover{
    color: #315efb;
}

#top-right{
    padding-right: 24px;
    top: 0;
    right: 0;
    margin-left: 32px;
    font-size: 13px;
}

#top-right #top-login-btn{
    margin-top: 18px;
    width: 48px;
    height: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
    background-color: #4e6ef2;
    color: #fff;
    cursor: pointer;
}

#top-right #top-login-btn:hover{
    background-color: #315efb;
}

#top-right #user{
    margin-top: 15px;
    margin-left: 32px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

#top-right #user:hover #name{
    color: #315efb;
}

#top-right #user #user-img{
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid #4e71f2;
    display: inline-block;
    border-radius: 50%;
}

#top-right #user #user-img img{
    padding: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#top-right #user #name{
    max-width: 300px;
    vertical-align: top;
    margin: 3px 0 0 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    overflow: hidden;
    float: right;
}

#outer-mid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#mid{
    width: 654px;
    height: 40%;
    min-height: 314px;
    margin: 0 auto;
    position: relative;
}

#logo-outer{
    height: 60%;
    position: relative;
}

#logo{
    margin-left: -135px;
    width: 270px;
    height: 129px;
    position: absolute;
    left: 50%;
    bottom: -1px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#search-div input{
    width: 512px;
    height: 16px;
    padding: 12px 16px;
    font-size: 16px;
    margin: 0;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c4c7ce;
    border-right: 0;
    background: #fff;
    color: #222;
}

#search-div input:hover{
    border-color: #a7aab5;
}

#search-div input:focus{
    border-color: #4e6ef2;
}

#search-btn{
    cursor: pointer;
    width: 108px;
    height: 44px;
    line-height: 45px;
    text-align: center;
    background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    float: right;
}

#search-btn:hover{
    background-color: #4662d9;
}

#hot-title{
    width: 654px;
    height: 24px;
    line-height: 24px;
    margin: 45px auto 4px;
    font-size: 14px;
}

#hot{
    margin: 0;
    padding: 0;
}

#hot li{
    width: 268px;
    height: 32px;
    list-style: none;
    line-height: 32px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

#hot li:nth-child(odd){
    margin-right: 60px;
    float: left;
}

#hot li:nth-child(even){
    margin-left: 58px;
    float: right;
}

#hot li .hot-order{
    margin-right: 2px;
    font-family: Arial, sans-serif;
    width: 18px;
    letter-spacing: -1px;
    color: #9195a3;
    display: inline-block;
}

#hot li .hot-order-1{
    color: #fe2d46;
}

#hot li .hot-order-2{
    color: #f60;
}

#hot li .hot-order-3{
    color: #faa90e;
}

#hot li .hot-content{
    font-size: 14px;
    display: inline-block;
}

#hot li:hover .hot-content{
    color: #315efb;
}

#hot li .hot-tag{
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 4px;
    padding: 0 2px;
    text-align: center;
    vertical-align: middle;
    font-style: normal;
    color: #fff;
    overflow: hidden;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 200;
}

#hot li .hot-tag.hot{
    background-color: #ff9812;
}

#hot li .hot-tag.new{
    background-color: #ff455b;
}

#footer{
    width: 100%;
    height: 39px;
    line-height: 39px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    color: #bbb;
}